# Ignore compiled binaries
*.o
*.out
*.exe

# Ignore build directories
build/
bin/

# Ignore temporary files
*.tmp
*.temp

# Ignore any files generated during the build process
*.obj
*.dSYM
*.pdb
*.ilk
*.aps
*.lib
*.dll
*.so
*.dylib

# Ignore any user-specific settings files
*.swp
*.swo
*.swn

# Ignore generated documentation
doc/

# Ignore any log or debugging files
*.log
*.debug

